body{

    font-family:  'Quicksand', sans-serif;
    
}
.banner-container{
    background-color: rgb(243, 203, 203);

}
.banner-column{
    background-color: rgb(245, 148, 69);
    margin: auto;
}
.navber-container{
    top:0;
background-color: rgb(136, 128, 128);
position: sticky;
z-index: 1;

}
.about-container{
 background-color: rgb(139, 245, 222);

}
.education-container{
    background-color: rgba(253, 216, 191, 0.815);

}
 

.redtype-color{
    color: tomato;
}
.circle{
     width: 150px; height: 150px; border-radius: 50%;
    background-color: rgb(253, 134, 113);
    
}


.project-container{

    background-color:rgba(216, 74, 74, 0.61) ;
}
.container{
    background-color: thistle;
}

p{
    color: black;
}
.portfolio-contain{

    background-color:rgb(101, 101, 105);
   
    margin-top: 1cm;
}

.gallery-container{

    background-color: rgb(240, 184, 184);
}
.form-container{

    background-color: rgba(199, 227, 243, 0.966);
}
.inner-form{
background-color: rgb(73, 73, 73);

}
.bg-redtype{
    background-color: brown;
    color:white;
}
.bg-redtype:hover{
    color:black!important;
   
}
.footer{
background-color: rgb(69, 107, 182);


}
.circle{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: inline-block;
    background-color: white;
    font-size: 15px;
    text-align: center;
    color: teal;
    margin: .3cm;

}
.circle:hover{
    width: 70px;
    height: 70px;
    border-radius: 70%;
    display: inline-block;
    background-color: rgb(252, 144, 144);
    font-size: 60px;
    text-align: center;
    color: rgb(86, 112, 112);
    margin: .7%;
    font-size: 20px;
}



